h1 Task Updated
p Task #{@task.id} was updated

- if @changes.present?
  h3 Changes:
  ul
    - @changes.each do |attribute, (old_value, new_value)|
      li #{attribute.humanize}: #{old_value || 'blank'} → #{new_value || 'blank'}

p View updated task: = link_to @task.name, task_url(@task)